node_modules
.DS_Store
*.log

real-time-collaborative-notes-app-frontend/node_modules
real-time-collaborative-notes-app-frontend/.next
real-time-collaborative-notes-app-frontend/.env.local

real-time-collaborative-notes-app-backend/node_modules
real-time-collaborative-notes-app-backend/dist
real-time-collaborative-notes-app-backend/.env
real-time-collaborative-notes-app-backend/uploads
